# Eclipse
/bin
/.settings
/.classpath
/eclipse/

# IDEA
/.idea
/classes
*.iml

# Gradle
/build
/.gradle
/buildSrc/build
/buildSrc/.gradle

# Stuff we're not allowed to upload
/projects/
/repo/
/src/

# Patch rejects
/patches-/
*.patch.rej
